{% extends "regbase.html" %}
{% load i18n %}


{% block main %}
    <br><br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 " style="margin:0 auto;">
    <section class="form-elegant">

        <!--Form without header-->
        <div class="card">

            <div class="card-body mx-2">

                <!--Header-->
                <div class="text-center">
                   
                    <h4 class="mb-5" style="color: #000 !important;">Congratulations, 
                    You have successfully logged in, thanks for not trying to hack my website.</h4>
                </div>
    </div></div></section></div></div>
{% endblock %}
