{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
  .text-muted {
    color: red !important;
}
ul {
  display: none;
}
body,label,h2,p {
  color: black;
}
</style>
    <!-- Masthead -->
    <header class="masthead text-white text-cente" style="background-image: url(http:jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            {% block main %}

            {% endblock %}
          </div>
        </div>
      </div>
    </header>

 
{% endblock %}
