
{% extends "regbase.html" %}
{% load i18n %}


{% block main %}
    <br><br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 " style="margin:0 auto;">
    <section class="form-elegant">

        <!--Form without header-->
        <div class="card">

            <div class="card-body mx-2">

                <!--Header-->
                <div class="text-center">
                    <img src="https://res.cloudinary.com/daetacity/image/upload/v1528330239/myfarm/logo.png" />
                    <h4 class="mb-5" style="color: #000 !important;">{% trans "Account activation failed" %}</h4>
                </div>
        
        <a href="{% url 'auth_login' %}"  class="btn btn-primary">Login</a>
    </div></div></section></div></div>
{% endblock %}
