{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 " style="margin:0 auto;">
    <section class="form-elegant">

        <!--Form without header-->
        <div class="card">

            <div class="card-body mx-2">

                <!--Header-->
                <div class="text-center">
                    
                    <h3 class="dark-grey-text mb-5"><strong></strong></h3>
                </div>
                 <form method="post" action=".">
                {% csrf_token %}
                {{ form | crispy }}

          <input type="submit" value="{% trans 'Submit' %}" />
        </form>
      </div>
    </div>
  </section>
  </div>
</div>
{% endblock %}
