{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}
<br><br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 " style="margin:0 auto;">
    <section class="form-elegant">

        <!--Form without header-->
        <div class="card">

            <div class="card-body mx-2">

                <!--Header-->
                <div class="text-center">
                    <img src="https://res.cloudinary.com/daetacity/image/upload/v1528330239/myfarm/logo.png" />
                    <h3 class="dark-grey-text mb-5"><strong>Enter new password</strong></h3>
                </div>
<form method="post" action=".">
  {% csrf_token %} 
   {{ form | crispy }}

  <input class="btn btn-outline-primary waves-effect waves-light" type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
</div></div></section></div></div>
{% endblock %}
